body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
.base{
    width: 100%;
    height: 728px;
    background-color: #edeff0;;
}
aside{
    padding-top: 2%;
    margin-top: 0%;
    width: 19%;
    height: 88%;
    background-color: #edeff0;
    float: left;
    display: grid;
    grid-auto-columns :auto;
    grid-gap: 21px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
}
header{
    margin-left: 0%;
    width: 100%;
    height: 7%;
    background-color: rgb(246, 249, 249);
    display: flex;
    flex-direction: row;
    

}
.content{
    margin-top: 0%;
    margin-left: 19%;
    width: 81%;
    height: 88%;
    background-color: #edeff0;
    padding-top: 2%;
}
.logo{
    margin-top: .2%;
    margin-left: 1%;
    width: 3%;
    height: 86%;
    border-radius: 197px;
    cursor: pointer;
}
.sf{
    margin-top: 1%;
    margin-left: 1%;
    height: 58%;
    border-radius: 20px;
    padding-left: 1%;
    color: rgba(75, 80, 84, 0.83);
    font-size: medium;
    background-color: #8077771c;
    border: white;
    
}
.house-icon{
    height: 96%;
    width: 7%;
    margin-left: 11%;
    margin-top: 0%;
    font-size: x-large;
    border-radius: 16px;
    border: 0px;
    background-color: transparent;
    cursor: pointer;
}

.icon{
    height: 96%;
    width: 7%;
    margin-left: 1%;
    margin-top: 0%;
    font-size: x-large;
    border-radius: 12px;
    border: 0px;
    background-color: transparent;
    cursor: pointer;
}
.icon:hover{
    background-color: #edeff0;
}
.list-icon{
    margin-top: .4%;
    margin-left: 15%;
    height: 80%;
    width: 3%;
    font-size: x-large;
    border-radius: 44px;
    border: 0px;
    background-color: #c0c0c063;
    cursor: pointer;
}
.head_icon{
    margin-top: .4%;
    margin-left: 1%;
    height: 80%;
    width: 3%;
    font-size: x-large;
    
    border-radius: 44px;
    border: 0px;
    background-color: #c0c0c063;
    cursor: pointer;
}

.fa-user{
    margin-top: 0%;
    margin-left: 9%;
    font-size: x-large;
    cursor: pointer;
    float: left;
}
.s-p{
    margin-top: 1%;
    margin-left: 8%;
    height: 1%;
    font-size: large;
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-weight: 600;
    cursor: pointer;
    float: left;
    
}
.s-p1{
    margin-top: 1%;
    margin-left: 10%;
    height: 1%;
    font-size: large;
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-weight: 600;
    cursor: pointer;
    float: left;
    
}
.simg{
    margin-top: 0%;
    margin-left: 8%;
    width: 11%;
    height: 100%;
    border-radius: 21px;
    cursor: pointer;
    float: left;

}
.fa-chevron-down{
    margin-top: 0%;
    margin-left: 9%;
    font-size: x-large;
    cursor: pointer;
    float: left;
}
footer{
    margin-top: 18%;
    margin-left: 4%;
    width: 173%;
    color: #443c3cf7;
    font-size: x-small;
    cursor: pointer;
    float: left;
    display: inline     ;
}
.content1{
    margin-top: 0%;
    margin-left: 0%;
    width: 53%;
    height: 100%;
    background-color: #edeff0;
    padding-left: 15%;
    float: left;
}
.content2{
    margin-top: 0%;
    margin-left: 70%;
    width: 30%;
    height: 100%;
    background-color: #edeff0;
}
.story{
    width: 90%;
    height: 11%;
    margin-top: 0%;
    margin-left: 0%;
    background-color: white;
    border-radius: 12px;
}
.pbtn1{
    width: 8%;
    height: 64%;
    color: rgb(17, 17, 231);
    background-color: #d5ecf7;
    border-radius: 46px;
    margin-top: 2%;
    margin-left: 3%;
    font-size: xx-large;
    border: 0px;
    font-weight: 100;
    float: left;
    cursor: pointer;
}
.story-h{
    margin-top: 3%;
    margin-left: 3%;
    font-size: large;
    font-weight: 500;
    float: left;
}
.story-p{
    margin-top: 7%;
    margin-left: -16.5%;
    font-size: medium;
    font-weight: 400;
    float: left;
    color: #7a7c7f;
    
}
.note{
    width: 90%;
    height: 19%;
    margin-top: 2%;
    margin-left: 0%;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
}
.fa-circle-user{
    margin-top: 2.5%;
    margin-left: 4%;
    font-size: xx-large;
    float: left;
    cursor: pointer;
}
.note-h{
    margin-top: 2%;
    margin-left: 2%;
    width: 79%;
    height: 31%;
    border-radius: 25px;
    padding-left: 3%;
    background-color: #edeff0;
    border: 0px;
    font-size: medium;
}
.lvdo-icon{
    margin-top: 1%;
    margin-left: 10%;
    width: 5%;
    height: 30%;
    float: left;
    cursor: pointer;
}
.lvdo-a{
    margin-top: 3%;
    margin-left: 2%;
    text-decoration: none;
    color: black;
    font-size: smaller;
    font-weight: 400;
    width: 12%;
    float: left;
    cursor: pointer;

}
.pic-icon{
    margin-top: 2%;
    margin-left: 10%;
    width: 4%;
    height: 18%;
    float: left;
    cursor: pointer
}
.pic-a{
    margin-top: 3%;
    margin-left: 2%;
    text-decoration: none;
    color: black;
    font-size: smaller;
    font-weight: 400;
    width: 12%;
    float: left;
    cursor: pointer
}
.fa-face-laugh{
    margin-top: 3%;
    margin-left: 13%;
    float: left;
    font-size: large;
    float: left;
    cursor: pointer
}
.emoji-a{
    margin-top: 3%;
    margin-left: 2%;
    text-decoration: none;
    color: black;
    font-size: smaller;
    font-weight: 400;
    width: 12%;
    float: left;
    cursor: pointer
}
.post{
    width: 90%;
    height: 65%;
    margin-top: 2%;
    margin-left: 0%;
    background-color: rgb(249, 247, 248);
    border-radius: 12px;
}
.profile{
    margin-top: 3%;
    margin-left: 4%;
    width: 7%;
    height: 10%;
    float: left;
    border-radius: 20px;
    cursor: pointer
}
.profile-h{
    margin-top: 3%;
    margin-left: 3%;
    font-size: large;
    font-weight: 500;
    float: left;
    cursor: pointer
}
.follow{
    margin-top: 3%;
    margin-left: 3%;
    font-size: large;
    font-weight: 500;
    color: #07a6f5;
    float: left;
    text-decoration: none;
    cursor: pointer
}
.follow:hover{
    text-decoration: underline;
}
.option-icon{
    width: 8%;
    height: 11%;
    margin-top: 2.5%;
    margin-left: 45%;
    float: left;
    font-size: larger;
    cursor: pointer;
    border-radius: 28px;
    background-color: transparent;
    border: 0px;
}
.close-btn{
    width: 7%;
    height: 10%;
    color: rgb(3 3 3);
    background-color: transparent;
    border-radius: 46px;
    margin-top: 3%;
    margin-left: 4%;
    font-size: xx-large;
    border: 0px;
    float: left;
    cursor: pointer
    
}
.option-icon:hover{
    background-color: #edeff0;
}
.close-btn:hover{
    background-color: #edeff0;
}
.post-date{
    margin-top: -3%;
    margin-left: 14%;
    font-size: smaller;
    font-weight: 400;
    width: 28%;
    float: left;
}
.desc{
    margin-top: 1%;
    margin-left: -38%;
    font-size: larger;
    font-weight: 400;
    float: left;
}
.clip{
    width: 100%;
    height: 51%;
}
.fa-thumbs-up{
    margin-left: 6%;
    margin-top: 2%;
    background-color: #1d70f5;
    color: aliceblue;
    border-radius: 11px;
    font-size: larger;
    border: 2px solid #07a6f5;
    float: left;
    cursor: pointer;
}
.like{
    margin-top: 3%;
    margin-left: 2%;
    font-size: smaller;
    font-weight: 400;
    width: 28%;
    float: left;
    color: #443c3cf7;
    cursor: pointer;
}
.cmnt{
    margin-top: 3%;
    margin-left: 22%;
    font-size: smaller;
    font-weight: 400;
    width: 28%;
    float: left;
    color: #443c3cf7;
    width: 19%;
    cursor: pointer;
}
.share{
    margin-top: 3%;
    margin-left:5%;
    font-size: smaller;
    font-weight: 400;
    width: 13%;
    float: left;
    color: #443c3cf7;
    cursor: pointer;
}
.like-pic{
    margin-top: 2%;
    margin-left: 8%;
    width: 4%;
    height: 5%;
    float: left;
    cursor: pointer;
}
.lcs-in{
    margin-top: 3%;
    margin-left: 0%;
    background-color: transparent;
    border: 0px solid;
    font-size: smaller;
    font-weight: 400;
    width: 12%;
    float: left;
    color: #443c3cf7;
    cursor: pointer;
}
.fa-comment{
    margin-left: 18%;
    margin-top: 2.5%;
    color: #443c3cf7;
    font-size: larger;
    float: left;
    cursor: pointer;
}

.fa-share{
    margin-left: 20%;
    margin-top: 2%;
    color: #443c3cf7;
    font-size: larger;
    float: left;
    cursor: pointer;
}

.content2-h1{
    margin-top: 0%;
    margin-left: 7%;
    font-size: medium;
    font-weight: 600;
    color: #7a7c7f;
    
}
.content2-img{
    margin-top: 3%;
    margin-left: 7%;
    width: 38%;
    height: 11%;
    border-radius: 10px;
    float: left;
    cursor: pointer
}
.content2-h2{
    margin-top: -19%;
    margin-left: 48%;
    font-size: medium;
    font-weight: 550;
    float: left;
    cursor: pointer
    
}
.content2-link{
    margin-top: -7%;
    margin-left: 48%;
    font-size: smaller;
    font-weight: 400;
    float: left;
    color: #7a7c7f;
    text-decoration: none;
    cursor: pointer;
}
.content2-hr{
    margin-top: 58%;
    width: 88%;
    color: #7a7c7f;
}
.content2-h3{
    margin-top: 6%;
    margin-left: 7%;
    font-size: medium;
    font-weight: 600;
    color: #7a7c7f;
}
.pbtn2{
    width: 11%;
    height: 6%;
    color: rgb(9 9 9);
    background-color: #dbdbde;
    border-radius: 46px;
    margin-top: 0%;
    margin-left: 7%;
    font-size: xx-large;
    border: 0px;
    font-weight: 100;
    float: left;
    cursor: pointer;
}
.content2-h4{
    margin-top: 2.5%;
    margin-left: 3%;
    font-size: medium;
    font-weight: 600;
    color: #101010;
    float: left;
    cursor: pointer
}
.msg-icon{
    width: 14%;
    height: 8%;
    color: rgb(9 9 9);
    border-radius: 46px;
    margin-top: 80%;
    margin-left: 24%;
    font-size: larger;
    border: 0px;
    float: left;
    cursor: pointer;
    background-color: white;
}
